extends /layouts/admin

block content
	a.btn.btn-primary.pull-right(href=urlHelper.create())
		i.fa.fa-plus
			| New News Article
	.responsive-table
		table.table.table-bordered.table-hover.table-striped
			thead
				tr
					th Title
					th Short
					th Publish Date
					th Edit
			tbody
				each newsArticle in newsArticles
					tr
						td 
							a(href=urlHelper.show(newsArticle.id))
								| #{newsArticle.title}
						td #{newsArticle.short}
						td #{newsArticle.publishDateFormatted}
						td
							a(href=urlHelper.edit(newsArticle.id))
								i.fa.fa-edit
							a(href=urlHelper.destroy(newsArticle.id) data-method="DELETE")
								i.fa.fa-times
