extends /layouts/admin

block content
	a.btn.btn-primary.pull-right(href="/news-articles/new")
		i.fa.fa-plus
			| New News Article
	.responsive-table
		table.table.table-bordered.table-hover.table-striped
			thead
				tr
					th Id
					th Title
					th Short
					th Publish Date
					th
			tbody
				each newsArticle in newsArticles
					tr
						td 
							a(href='/news-articles/#{newsArticle.id}')
								| #{newsArticle.title}
						td #{newsArticle.title}
						td #{newsArticle.short}
						td #{newsArticle.publishDateFormatted}
						td
							a(href='/news-articles/#{newsArticle.id}/edit')
								i.fa.fa-edit
